

.mud-simple-table table * tr>td, 
.mud-simple-table table * tr th 
{
     border-bottom: 1px solid transparent
}

td.divider {
    font-size: 2px !important;
    border-bottom: 1px solid #FFB000 !important;
}

td.spacer {
    font-size: 2px !important;
    border-bottom: 1px transparent !important;
}

.data {
    color: #FFB000;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.right {
    text-align: right!important;
}

.center {
    text-align: center!important;
}

.alarm {
    background-color: red;
    color: white;
}

.mud-button {
    text-transform: none !important;
}

.mud-simple-table .mud-table-container {
    overflow-x: auto;
    max-height: 100%;
}

button:hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important
}

:root {
    /*--mud-palette-action-default-hover: red; */
}

.mud-simple-table table * tr > td, .mud-simple-table table * tr th {
    font-size: 1.0rem;
    line-height: 0.99em;
    letter-spacing: normal;
}

.large-font.mud-simple-table table * tr > td,
.large-font .mud-simple-table table * tr > td,
.mud-simple-table table * tr th {
    font-size: 1.2rem;
    line-height: 0.99em;
    letter-spacing: normal;
}


.mud-navmenu.large-font  {
    font-size: 1.2rem!important;
    line-height: 0.99em!important;
    letter-spacing: normal!important;
}

.profilebar > .mud-icon-button-size-large.mud-button > .mud-icon-button-label > .mud-icon-size-large {
    font-size: 3rem;
    letter-spacing: -0.001em;
}

.pagebar > .mud-icon-button-size-large.mud-button > .mud-icon-button-label > .mud-icon-size-large {
    font-size: 3rem;
    letter-spacing: -0.001em;
}

.galnetbody {
    padding-top: 20px !important;
}

.galnetbody table * tr > td, .galnetbody table * tr th {
    font-size: 1.2rem !important;
    line-height: 0.99em !important;
    letter-spacing: normal !important;
}

.galnetbody p {
    font-size: 1.1rem !important;
    font-weight: 300 !important;
    /*line-height: normal !important;*/
}

.galnetbody br {
    display: block;
    content: "";
    border-bottom: 10px solid transparent;
}

/* smaller display : 10 x 3 buttons*/

.buttonblock > .mud-icon-button-size-large.mud-button > .mud-icon-button-label > .mud-icon-size-large {
    font-size: 5.1rem;               
    letter-spacing: -0.001em;
}

.buttonblockwidth {
    width: 1015px;                    
    min-width: 1015px!important;      
}

/* larger display : 8 x 4 buttons*/

@media screen and (min-height: 500px) {
    .buttonblock > .mud-icon-button-size-large.mud-button > .mud-icon-button-label > .mud-icon-size-large {
        font-size: 4.1rem; 
        letter-spacing: -0.001em;
    }

    .buttonblockwidth {
        width: 685px; 
        min-width: 685px !important;
    }
}



@media screen and (min-height: 600px) {

    .buttonblock > .mud-icon-button-size-large.mud-button > .mud-icon-button-label > .mud-icon-size-large {
        font-size: 4.1rem;
        letter-spacing: -0.001em;
    }

    .buttonblockwidth {
        width: 435px;
        min-width: 435px !important;
    }

    .mud-simple-table table * tr > td, 
    .mud-simple-table table * tr th {
        font-size: 1.0rem;
    }

    .large-font.mud-simple-table table * tr > td,
    .large-font .mud-simple-table table * tr > td,
    .mud-simple-table table * tr th {
        font-size: 1.0rem;
    }


    .galnetbody table * tr > td, .galnetbody table * tr th {
        font-size: 1.0rem !important;
    }

    .galnetbody p {
        font-size: 1.0rem !important;
    }


}

