@page "/locations/galaxymap"
@inherits PageBase
@layout PageLayout

<MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Class="PageTable large-font flex-grow-1 flex-shrink-1" Style="min-height: 0;">
    <tbody>
    <tr>
        <td class=" center" ><strong>TODO</strong></td>
    </tr>


    </tbody >
</MudSimpleTable>
