@page "/locations/mining/{CurrentPage:int?}"
@using dashboard_elite.Helpers
@inherits PageBase
@layout PageLayout

@{
    var skipFirst = true;

    List<HotspotSystems.HotspotSystemData> hotspotSystems = null;

    if (Data.NearbyHotspotSystemsList?.ContainsKey((HotspotSystems.MaterialTypes)CurrentPage) == true)
    {
        hotspotSystems = Data.NearbyHotspotSystemsList[(HotspotSystems.MaterialTypes)CurrentPage];
    }


}

<MudSimpleTable Hover="false" Dense="true" FixedHeader="false" Class="PageTable large-font flex-grow-1 flex-shrink-1" Style="min-height: 0;">
    <tbody>
        
        @switch (CurrentPage)
        {
            case 0:
            case 1:
            case 2:
            {
                @if (hotspotSystems != null)
                {
                    foreach (var m in hotspotSystems)
                    {
                        if (!skipFirst)
                        {
                            <tr>
                                <td class="divider" colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="spacer" colspan="2">&nbsp;</td>
                            </tr>

                        }
                        skipFirst = false;

                        if (!string.IsNullOrEmpty(m.Name))
                        {
                            <tr>
                                <td class="nowrap">System</td>
                                <td class="data"><NavLink class="system-link" @onclick="() => Clipboard(m.Name)" >@m.Name</NavLink></td>
                            </tr>
                        }
                        if (m.Distance > 0)
                        {
                            <tr>
                                <td class="nowrap">Distance</td>
                                <td class="data">@m.Distance.ToString("N0") Ly</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(m.Comment))
                        {
                            <tr>
                                <td class="nowrap">Ring</td>
                                <td class="data">@m.Comment</td>
                            </tr>
                        }

                    }
                }
                break;
            }
 
        }
    </tbody>
</MudSimpleTable>
